doctype html
html(lang='en')
    head
        title Driver #{id} details
    body
        h1 Driver App - driver id
            span(id='driverId') #{id}
        button(onclick= "getData();") Refresh
        br
        br
        table(id='waiting' style="float:left;")
        table(id='ongoing' style="float:left;")
        table(id='completed' style="float:left;")
        script(src='/socket.io/socket.io.js')
        script
            include ./script.js